= simple_form_for(@website) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :domain_name
    = f.input :style
    = f.input :logo, as: :file

  %h2 Home Page
  = f.simple_fields_for :home_page do |h|
    .form-inputs
      = h.input :call_to_action
      = h.input :header
      = h.input :content
      = h.input :banner, as: :file

  %h2 About Page
  = f.simple_fields_for :about_page do |h|
    .form-inputs
      = h.input :header
      = h.input :content
      = h.input :avatar, as: :file

  %h2 Contact Page
  = f.simple_fields_for :contact_page do |h|
    .form-inputs
      = h.input :phone
      = h.input :address
      = h.input :email

  .form-actions
    = f.button :submit
