%p#notice= notice

%p
  %b Name:
  = @website.name
%p
  %b Domain name:
  = @website.domain_name
%p
  %b Style:
  = @website.style
%p
  %b Logo:
  = image_tag @website.logo.url

%h2 Home Page

%p
  %b Name:
  = @website.home_page.call_to_action
%p
  %b Domain name:
  = @website.home_page.header
%p
  %b Style:
  = @website.home_page.content
%p
  %b Logo:
  = image_tag @website.home_page.banner.url

%h2 About Page

%p
  %b Name:
  = @website.about_page.header
%p
  %b Domain name:
  = @website.about_page.content
%p
  %b Logo:
  = image_tag @website.about_page.avatar.url

%h2 Contact Page

%p
  %b Name:
  = @website.contact_page.phone
%p
  %b Domain name:
  = @website.contact_page.address
%p
  %b Domain name:
  = @website.contact_page.email

= link_to 'Edit', edit_website_path(@website)
\|
= link_to 'Back', websites_path
