.row
  .large-12.columns
    .nav-bar.right
      %ul.button-group
        %li
          = link_to 'Home', home_website_path(@website), class: 'button'
        %li
          = link_to 'About', about_website_path(@website), class: 'button'
        %li
          = link_to 'Contact', contact_website_path(@website), class: 'button'
    .row 
      .small-2
        = image_tag @website.logo.url
    %h1
      = @website.name
    %hr
